<div class="banner-area py-7">
        <!-- Content -->
        <div class="container">
            <div class="row  align-items-center" >
                <div class="col-md-12 col-lg-12 text-center text-lg-left">
                    <div class="main-banner" style="background-color: white !important;">

                            <div class="content">
                                <img class="img-column"; src="../images/ferilainscek.jpeg" style="width: 100px","height: 170px">
                                <div class="besedilo">
                                  <h3><strong>{{ime}} {{priimek}}</strong></h3>
                                  <p>{{naslov}}</p>
                                  <a class="nav-link temp" href="#majnice1"><strong>{{pesemnaslov}}</strong></a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
<div class="content-big">
   <div class="slika" style="margin-left: 30px;">
        <!-- <h4><strong>Majnice</strong></h4> -->
        {{!-- <img class="img-content-big"; src="../images/majnice.jpeg"> --}}
        <p>{{pesem}}</p>
    </div>
                                
    <div class="besedilo" style="margin-left: 30px;">
        <img class="qr-koda"; src="../images/qr-1.png">
        <h5 class="card-title">Skeniraj QR kodo z mobilno napravo</h5>
        <p class="card-text">Najbolj pogosto izbrane besede se bodo izpisale na mobilni napravi.</p>
        <br>
         <!-- <a href="#" class="btn btn-primary">Poglej rezultate</a> -->
    </div>
</div>